{% extends "index.html" %}
{% block slider %}{% endblock slider %}



<head>
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/one-page-wonder.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>

    
    {% block content%}
    <div class="contact-form">
    <div class="container contact-form">
                <form method="post">        

                    <h3>Hinterlasse und eine Nachricht mit deinem Wunschtermin und deiner Wunschzeit.<br>
                    Wir melden uns bei dir!</h3>

                   <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
    </div>
    </div>
{% endblock content%}

{%block footer%}
<!-- Footer -->
<div class="buchen-footer">
    <footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Escaperoom Übungsprojekt</p>
    </div>
    <!-- /.container -->
    </footer>
</div>
{%endblock footer%}
</body>




